{% extends 'core/base.html' %}

{% block tittle_bar %}Create component for #{{keyboard.id}}{% endblock %}
{% block tittle_section %}Create component for #{{keyboard.id}}{% endblock %}


{% block content %}
<div class="danger-zone" style="max-width: 500px; margin: 2rem auto;">
    
    <p style="color: #fca5a5; margin-bottom: 2rem; font-size: 1.1rem;">
        Add compoent #{{component.pk}} {{component.brand}} {{component.model}}
    </p>
    
    <form action="" method="post" style="display: flex; gap: 1rem; justify-content: center;">
        {% csrf_token %}
        <a href="{% url 'list_component' keyboard.pk %}" class="btn btn-ghost">Cancel</a>
        <button type="submit" class="btn btn-danger">Add component</button>
    </form>
</div>
{% endblock %}