{% extends 'core/base.html' %}

{% block tittle_bar %}Add new network social{% endblock %}
{% block tittle_section %}Add new network social{% endblock %}


{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <select name="social-networks" id="social-networks">
      <option value="----------">--------</option>
      {% for social in social_networks %}
        <option value="{{social.name}}">{{social.name}}</option>
      {% endfor %}
    </select>
    <button type="submit">Add</button>
</form>

{% if messages %}
  {% for message in messages %}
    <div class="{{ message.tags }}">
      {{ message }}
    </div>
  {% endfor %}
{% endif %}

{% endblock %}