<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block tittle_bar %}Tittle default{% endblock %}</title>
</head>
<body>
    <header>
        <ul>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'list_users' %}">Users</a></li>
            <li><a href="{% url 'registration' %}">Register</a></li>
            <li><a href="{% url 'ranking_users' %}">Ranking</a></li>
        </ul>
        <div class="login">
            {% if user.is_authenticated %}
            <p>Usuario: {{user}}</p>
            <form action="{% url 'logout' %}" method="post">
             {% csrf_token %} 
              <button type="submit" class="">Log out</button>
            {% else %}
                  <button type="submit" class="">Login</button>
            {% endif %}
             </form>
        </div>
    </header>
    <main>
    <h1>{% block tittle_section %}Tittle section default{% endblock %}</h1>
    {% block content %}Content default{% endblock %}
    </main>
    <footer>
        <small>&copy; 2026 Iván Gómez</small>
    </footer>
</body>
</html>