{% extends 'core/base.html' %}
{% load static %}

{% block tittle_bar %}View keyboards{% endblock %}
{% block tittle_section %}My keyboards{% endblock %}

{% block content %}


<ul class="user-grid">
    {% for keyboard in keyboards %}
    <a href="{% url 'detail_keyboard' keyboard.pk %}">
    <li class="product-card">
        
        <div class="product-header">
            <h3 class="product-title">{{keyboard.name}}</h3>
            <span class="price-tag">{{keyboard.price}}€</span>
        </div>

        <div class="rating-box">
            <span class="star-icon">★</span>
            <span class="rating-value">{{keyboard.stars}}</span>
            <span class="rating-max">/ 5</span>
        </div>

        <div class="product-divider"></div>

        <div class="product-footer">
            <span class="product-label">Colours</span>
            <div class="pill-tag">{{keyboard.colours}}</div>
        </div>

    </li>
    </a>
    {% empty %}
    <div class="empty-state">
        <p>User no have keyboards.</p>
    </div>
    {% endfor %}
</ul>


{% endblock %}